/* CSS file */
.subject-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .subject-item {
    text-align: center;
    width: 380px;
  }
  
  .choonse-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    border: 2px solid transparent;
  }
  
  .choonse-image:hover {
    transform: scale(1.1);
    border: 2px solid #007bff;
  }
  
  .subject-name {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
  }
  